body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.webamne {
  box-sizing: content-box;
  /* font-style: italic; */
  color: rgb(0, 0, 0);
  font-family: bold;
  font-size: 30px;
  font-weight: 800;
  margin-left: 20px;
  margin-top: 15px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 12px;
  text-decoration-color: rgb(255, 255, 255);
  border-bottom: 1.5px solid rgb(255, 0, 0);

  /* text-underline-position: below; */
}

.loginbg {
  /* border: 2px solid white; */
  display: flex;
  height: 550px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.login {
  height: 425px;
  width: 350px;
  border-radius: 35px;
  border: 2px solid rgb(0, 0, 0);
  background-color: #fff;

  /* box-shadow: -2px -2px 10px -6px white ,3px 3px 10px -1px black; */

  /* box-shadow: 2px 2px 10px 0px; */
  /* backdrop-filter: blur(20px); */
  /* background-color: rgba(0, 0, 0, 0.082); */
}
h2 {
  padding-top: 20px;
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
h4 {
  padding-left: 25px;
  padding-top: 5px;
  color: #000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 100px;
}

span {
  color: rgb(0, 0, 255);
  font-weight: 100;
  cursor: pointer;
}
#hr1 {
  width: 100%;
  border-radius: 50px;
}
/* .userpass{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 100;
      color: #000;
      margin-left: 25px;
  } */
input[type="text"] {
  margin-top: 15px;
  height: 30px;
  width: 250px;
  margin-left: 45px;
  background-color: rgba(250, 250, 250, 0);

  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 13px;
}
#Showerror1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 18px;
  font-size: 15px;
  width: 230px;
  margin: auto;
}
#Showerror2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 18px;
  font-size: 15px;
  width: 230px;
  margin: auto;
}
input[type="password"] {
  margin-top: 10px;
  height: 30px;
  width: 250px;
  margin-left: 45px;
  background-color: rgba(255, 255, 255, 0.302);
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border: 1.5px solid rgba(255, 255, 255, 0);
  border-radius: 50px;
}
input[type="text"]::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 800;
}
input[type="password"]::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 800;
}
.rem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  gap: 15px;
}
input[type="checkbox"] {
  margin-left: 25px;
  /* border: px solid white; */
}
.remlabel {
  color: rgb(0, 0, 0);
  font-family: product;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 15px;
}
.fp {
  color: rgb(255, 0, 0);
  font-family: product;
  letter-spacing: 1px;
  font-weight: 800;
  padding-right: 25px;
  padding-top: 4px;
  font-weight: 800;
  font-size: 15px;
  cursor: pointer;
}
.signin {
  color: white;
  box-sizing: border-box;
  margin-top: 5px;
  margin-left: 75px;
  margin-bottom: 10px;
  text-align: center;
  height: 35px;
  width: 200px;
  /* padding-top: 2px; */
  border: 2px solid rgb(231, 119, 0);
  background-color: rgb(231, 119, 0);
  border-radius: 13px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  cursor: pointer;
}
.or {
  display: grid;
  width: 150px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  /* column-gap: 5px; */
  /* column-width: 10px; */
  color: rgb(0, 0, 0);
  /* font-family: ; */
  /* font-weight: 600; */
  margin-left: 100px;
  text-align: center;
  padding-top: 7px;
  /* border: 2px solid white; */
}
.or::before,
.or::after {
  content: " ";
  height: 1.4px;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  display: block;
}
.newacc {
  box-sizing: border-box;
  margin-top: 8px;
  margin-left: 75px;
  height: 36px;
  width: 200px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: product;
  letter-spacing: 1px;
  font-weight: 800;
  /* font-weight: 600; */
  background-color: rgb(0, 0, 0);
  border-radius: 13px;
  font-size: 13px;
  padding-top: 3px;
  cursor: pointer;
}
footer {
  /* height: 30px; */
  /* border: 1px solid rgba(255, 255, 255, 0.148);
      background-color: rgba(0, 0, 0, 0.181); */
  /* backdrop-filter: blur(10px); */
  border-radius: 50px;
  color: white;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
#hr {
  /* height: 0.5px; */
  border: 0px solid rgb(0, 0, 0);
  width: 490px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#loghr {
  margin-top: 200px;
  width: 20px;
}
